@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

*{
    font-family: "Playwrite CU", cursive;
}

body{
    background-color:rgb(40, 40, 40);
    color:rgb(100, 255, 250)
}

footer{
    background-color: black;
    color:aliceblue;
    font-weight: bold;
}

h1, h2, h3{
    text-align: center;
}

.logo{
    justify-content: center;
    border-radius: 20px;
}

.logoblock{
    text-align: center;
}

.popular{
    margin-top: 50px;
    margin-bottom: 50px;
}

span{
    color: red;
}